body{
    background-color: lightgray;
}

header h1{
    color: purple;
    font-style: italic;
}

header h3{
    color: darkgreen;
    font-style:normal;
}

footer {
    color: black;
}

button {
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid aliceblue;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
    display: block;
    margin: 10px;
}

button :hover{
    color: red;
    cursor: pointer;
}

button :active{
    color: darkblue;
    box-shadow: 0px 0px;
    margin-top: 5px;
}

.true :active{
    background-color: lime;
}

.false :active{
    background-color: red;
}